@model HomePostSuggestionModel
<link rel="stylesheet" href="~/css/HomePage.css">
<div class="container">
    <div class="profile-page tx-13">
        <div class="row profile-body">
            <!-- middle wrapper start -->
            <div class="col-md-12 col-xl-9 middle-wrapper">
                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="col-md-12">
                            <div class="card rounded">
                                <div class="card-header">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <img class="img-xs rounded-circle" src="@Model.User.ProfileImagePath" alt="">
                                            <div class="ml-2">
                                                <p>@Model.User.FirstName @Model.User.LastName</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div id="postErrors"></div>
                                    <p class="mb-3 tx-14">Image Url</p>
                                    <input id="postImageUrl" class="mb-3 tx-14 col-md-12" />
                                    <img id="postImage" class="img-fluid" src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="" hidden>
                                    <p class="mb-3 tx-14">Content</p>
                                    <textarea id="postContent" class="mb-3 tx-14 col-md-12"></textarea>
                                </div>
                                <div class="card-footer">
                                    <a href="javascript:;" class="d-flex align-items-center text-muted" id="sendPost">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-share icon-md">
                                            <path d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8"></path>
                                            <polyline points="16 6 12 2 8 6"></polyline>
                                            <line x1="12" y1="2" x2="12" y2="15"></line>
                                        </svg>
                                        <p class="d-none d-md-block ml-2">Send</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div id="posts">
                            @foreach (var post in Model.Posts)
                            {
                                <div class="col-md-12">
                                    <div class="card rounded">
                                        <input class="postId" value="@post.Id" hidden />
                                        <div class="card-header">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <img class="img-xs rounded-circle" src="@post.Owner.ProfileImagePath" alt="">
                                                    <div class="ml-2">
                                                        <p>@post.Owner.FirstName @post.Owner.LastName</p>
                                                    </div>
                                                    <div class="ml-2">
                                                        <p class="tx-11 text-muted">@post.DateDiff</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <p class="mb-3 tx-14">@post.Content</p>
                                            <img class="img-fluid" src="@post.Image" alt="">
                                        </div>
                                        <div class="card-footer">
                                            <div class="d-flex post-actions">
                                                <a href="javascript:;" class="d-flex align-items-center text-muted mr-4 likeButton">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart icon-md" style="display: @( post.IsLiked ? "none" : "block")">
                                                        <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                                                    </svg>
                                                    <img @(post.IsLiked ? "hidden" : string.Empty) src="~/images/1876899.png" width="24" height="24" />
                                                    <p class="d-none d-md-block ml-2">Like</p>
                                                </a>
                                                <a href="javascript:;" class="d-flex align-items-center text-muted mr-4 commentButton">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square icon-md">
                                                        <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
                                                    </svg>
                                                    <p class="d-none d-md-block ml-2">Comment</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comments" style="display: none;">
                                        <div class="offset-md-1 card rounded">
                                            <div class="card-header">
                                                <div class="d-flex align-items-center justify-content-between">
                                                    <div class="d-flex align-items-center">
                                                        <img class="img-xs rounded-circle" src="@Model.User.ProfileImagePath" alt="">
                                                        <div class="ml-2 row">
                                                            <p class="ml-2">@Model.User.FirstName @Model.User.LastName</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="offset-md-1 d-flex align-items-center justify-content-between">
                                                    <div class="commentErrors"></div>
                                                </div>
                                                <div class="offset-md-1 d-flex align-items-center justify-content-left">
                                                    <input class="col-md-8" />
                                                    <a href="javascript:;" class="offset-md-1 d-flex align-items-center text-muted sendComment">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-share icon-md">
                                                            <path d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8"></path>
                                                            <polyline points="16 6 12 2 8 6"></polyline>
                                                            <line x1="12" y1="2" x2="12" y2="15"></line>
                                                        </svg>
                                                        <p class="d-none d-md-block ml-2">Send</p>
                                                    </a>
                                                </div>
                                                </div>
                                            </div>
                                        <div class="usersComments">
                                            @foreach (var comment in post.Comments)
                                            {
                                                <div class="offset-md-1 card rounded">
                                                    <div class="card-header">
                                                        <div class="d-flex align-items-center justify-content-between">
                                                            <div class="d-flex align-items-center">
                                                                <img class="img-xs rounded-circle" src="@comment.Owner.ProfileImagePath" alt="">
                                                                <div class="ml-2 row">
                                                                    <p class="ml-2">@comment.Owner.FirstName @comment.Owner.LastName</p>
                                                                    <p class="ml-2 tx-11 text-muted">@comment.DateDiff</p>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="offset-md-1 d-flex align-items-center justify-content-between">
                                                            <p>@comment.Content</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!-- middle wrapper end -->
            <!-- right wrapper start -->
            <div id="suggestions" class="d-none d-xl-block col-xl-3 right-wrapper">
                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="card rounded">
                            <div class="card-body">
                                <h6 class="card-title">suggestions for you</h6>
                                @foreach (var suggestion in Model.Suggestions)
                                {
                                    <div class="d-flex justify-content-between mb-2 pb-2 border-bottom">
                                        <div class="d-flex align-items-center hover-pointer">
                                            <img class="img-xs rounded-circle" src="@suggestion.ProfileImagePath" alt="">
                                            <div class="ml-2">
                                                <p>@suggestion.FirstName @suggestion.LastName</p>
                                                <p class="tx-11 text-muted">@suggestion.MutualFriendsCount Mutual Friends</p>
                                            </div>
                                            <input hidden value="@suggestion.Id" />
                                        </div>
                                        <button class="btn btn-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-plus" data-toggle="tooltip" title="" data-original-title="Connect">
                                                <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                                <circle cx="8.5" cy="7" r="4"></circle>
                                                <line x1="20" y1="8" x2="20" y2="14"></line>
                                                <line x1="23" y1="11" x2="17" y2="11"></line>
                                            </svg>
                                        </button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- right wrapper end -->
        </div>
    </div>
</div>

<script id="errorsTemplate" type="text/x-handlebars-template">
    {{#each errors}}
    <p class="mb-3 tx-14"> {{this}}</p>
    {{/each}}
</script>

<script id="postTemplate" type="text/x-handlebars-template">
    <div class="col-md-12">
        <div class="card rounded">
            <input class="postId" value="{{post.id}}" hidden />
            <div class="card-header">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <img class="img-xs rounded-circle" src="{{post.owner.profileImagePath}}" alt="">
                        <div class="ml-2">
                            <p>{{post.owner.firstName}} {{post.owner.lastName}}</p>
                        </div>
                        <div class="ml-2">
                            <p class="tx-11 text-muted">{{post.dateDiff}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p class="mb-3 tx-14">{{post.content}}</p>
                <img class="img-fluid" src="{{post.image}}" alt="">
            </div>
            <div class="card-footer">
                <div class="d-flex post-actions">
                    <a href="javascript:;" class="d-flex align-items-center text-muted mr-4 likeButton">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart icon-md">
                            <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                        </svg>
                        <img src="~/images/1876899.png" width="24" height="24" hidden />
                        <p class="d-none d-md-block ml-2">Like</p>
                    </a>
                    <a href="javascript:;" class="d-flex align-items-center text-muted mr-4 commentButton">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square icon-md">
                            <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
                        </svg>
                        <p class="d-none d-md-block ml-2">Comment</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="comments" style="display: none;">
            <div class="offset-md-1 card rounded">
                <div class="card-header">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <img class="img-xs rounded-circle" src="{{user.profileImagePath}}" alt="">
                            <div class="ml-2 row">
                                <p class="ml-2">{{user.firstName}} {{user.lastName}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="offset-md-1 d-flex align-items-center justify-content-between">
                        <div class="commentErrors"></div>
                    </div>
                    <div class="offset-md-1 d-flex align-items-center justify-content-left">
                        <input class="col-md-8" />
                        <a href="javascript:;" class="offset-md-1 d-flex align-items-center text-muted sendComment">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-share icon-md">
                                <path d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8"></path>
                                <polyline points="16 6 12 2 8 6"></polyline>
                                <line x1="12" y1="2" x2="12" y2="15"></line>
                            </svg>
                            <p class="d-none d-md-block ml-2">Send</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="usersComments">
                {{#each post.comments}}
                    {{> comment}}
                {{/each}}
            </div>
        </div>
    </div>
</script>

<script id="commentTemplate" type="text/x-handlebars-template">
    <div class="offset-md-1 card rounded">
        <div class="card-header">
            <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <img class="img-xs rounded-circle" src="{{owner.profileImagePath}}" alt="">
                    <div class="ml-2 row">
                        <p class="ml-2">{{owner.firstName}} {{owner.lastName}}</p>
                        <p class="ml-2 tx-11 text-muted">{{dateDiff}}</p>
                    </div>
                </div>
            </div>
            <div class="offset-md-1 d-flex align-items-center justify-content-between">
                <p>{{content}}</p>
            </div>
        </div>
    </div>
</script>

<script id="succesfulRequest" type="text/x-handlebars-template">
    <img src="https://static.thenounproject.com/png/682471-200.png">
</script>

<script src="~/js/homePage.js"></script>
