@model FriendshipQueryModel
@inject IFriendshipService friendshipService

<link rel="stylesheet" href="~/css/FriendshipsIndex.css">
<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="people-nearby">
                <div class="nearby-user">
                    <form class="form-inline my-2 my-lg-0 offset-1">
                        <input asp-for="SearchTerm" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-info my-2 my-sm-0">Search</button>
                    </form>
                </div>
                <div id="buttons">
                    @foreach (var friend in Model.CurrentPeople)
                    {
                        <div class="nearby-user">
                            <div class="row ">
                                <div class="col-md-2 col-sm-2">
                                    <img src="@friend.ProfileImagePath" alt="user" class="profile-photo-lg">
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <h5 class="profile-link">@friend.FirstName @friend.LastName</h5>
                                    <p class="text-muted">@friend.MutualFriendsCount Mutual Friends</p>
                                </div>
                                <div class="col-md-7 col-sm-7 align-self-center">
                                    <input hidden value="@friend.Id" />
                                    @if (friendshipService.AreFriends(User.Id(), friend.Id))
                                    {
                                        <button class="btn btn-outline-dark" value="BrakeUp">Brake up</button>
                                    }
                                    else if (friendshipService.CanRequest(User.Id(), friend.Id))
                                    {
                                        <button class="btn btn-outline-primary" value="AddFriend<">Add Friend</button>
                                    }
                                    else if (friendshipService.CanAcceptOrDeny(User.Id(), friend.Id))
                                    {
                                        <button class="btn btn-outline-success" value="Accept">Accept</button>
                                        <button class="btn btn-outline-danger" value="Deny">Deny</button>
                                    }
                                    else
                                    {
                                        <p>Waiting for Answer</p>
                                    }

                                    @if (friendshipService.CanBlock(User.Id(), friend.Id))
                                    {
                                        <button class="btn btn btn-outline-secondary" value="Block">Block</button>
                                    }
                                    else
                                    {
                                        <button class="btn btn btn-outline-secondary" value="UnBlock">Unblock</button>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="nearby-user">
                    @{
                        var previousPage = Model.CurrentPage - 1;
                        if (previousPage < 1)
                        {
                            previousPage = 1;
                        }

                        var maxPage = Math.Ceiling((double)Model.TotalPeople / FriendshipQueryModel.PeoplePerPage);

                        var shouldButtonBeDisabled = Model.CurrentPage == maxPage || !Model.CurrentPeople.Any();
                    }

                    <div class="row mb-5 align-self-center">
                        <div class="col-md-6">
                            <a class="btn btn-primary" @(Model.CurrentPage == 1 ? "hidden disabled" : string.Empty)
                               style="margin-left: 20px"
                               asp-controller="@typeof(FriendshipsController).GetControllerName()"
                               asp-action="@nameof(FriendshipsController.All)"
                               asp-route-currentPage="@previousPage"
                               asp-route-searchTerm="@Model.SearchTerm"><</a>
                        </div>
                        <div class="col-md-6">
                            <a class="btn btn-primary float-sm-right" @(shouldButtonBeDisabled ? "hidden disabled" : string.Empty) style="margin-right: 20px"
                               asp-controller="@typeof(FriendshipsController).GetControllerName()"
                               asp-action="@nameof(FriendshipsController.All)"
                               asp-route-currentPage="@(Model.CurrentPage + 1)"
                               asp-route-searchTerm="@Model.SearchTerm">></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="brakeUpTemplate" type="text/x-handlebars-template">
    <button class="btn btn-outline-dark" value="BrakeUp">Brake up</button>
</script>

<script id="addFriendTemplate" type="text/x-handlebars-template">
    <button class="btn btn-outline-primary" value="AddFriend<">Add Friend</button>
</script>

<script id="acceptAndDenyTemplate" type="text/x-handlebars-template">
    <button class="btn btn-outline-success" value="Accept">Accept</button>
    <button class="btn btn-outline-danger" value="Deny">Deny</button>
</script>

<script id="blockTemplate" type="text/x-handlebars-template">
    <button class="btn btn btn-outline-secondary" value="Block">Block</button>
</script>

<script id="unBlockTemplate" type="text/x-handlebars-template">
    <button class="btn btn btn-outline-secondary" value="UnBlock">Unblock</button>
</script>

<script id="waitingTemplate" type="text/x-handlebars-template">
    <p>Waiting for Answer</p>
</script>

<script src="~/js/FriendshipPage.js"></script>
